# Rename this file to secrets.yaml and fill in your values

# WiFi
wifi_ssid_1: "YourWiFiSSID"
wifi_password_1: "YourWiFiPassword"

# OTA Update Passwort
ota_password: "YourOTAPassword"

# API Verschlüsselung (Key im ESPHome Dashboard generieren)
api_encryption_key: "GeneriereDiesenKeyImESPHomeDashboard"

# Fallback Access Point
ap_password: "YourFallbackAPPassword"

# Web-Server Authentifizierung
web_user: "admin"
web_password: "YourWebPassword"
